.container{
    display: flex;
    background-color: #0099CC;
    
}
.Home{
    margin-left: 500px;
    color: white;

}
#logo{
    margin-left: 200px;
    color: white;
}
.careCow{
    margin-left: 50px;
    color: white;
}
.MediSymCare{
    margin-left: 50px;
    color: white;
}
.DocConnect{
    margin-left: 50px;
    color: white;
}
.signUp{
    margin-left: 50px;
    color: white;
}
.profile{
    margin-left: 50px;
    color: white;
}
.fullDiv{
    height: 900px;
    width: 100%;
    border: 2px solid black;
    display: flex;
}
#first{
    height: 900px;
    width:50%;
    border: 2px solid black;
}
#second{
    height: 900px;
    width: 50%;
    border: 2px solid black;
}
.veternaryDoctor{
    height: 200px;
}